@import "../../styles/colors.scss";

.root-navbar-container {
  padding: 20px;
  background-color: $navbar-background;
  display: flex;
  gap: 20px;
  .link {
    color: $navbar-link-text;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .active-link,
  .link:hover {
    color: $expo-blue-text;
  }
}
