.modal-right {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #111827bf;
  animation: smooth 0.4s;
  .modal-body {
    max-width: 250px;
    background-color: white;
    padding: 100px 50px;
    box-shadow: 2px 2px 12px gray;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .close {
      position: absolute;
      top: 30px;
      left: 30px;
      cursor: pointer;
      padding: 10px;
      transition: 0.3s;
      border-radius: 50%;
    }
    .close:hover {
      background-color: #ededed;
    }
    .form {
      display: flex;
      // height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .prefix,
      .btn,
      .input {
        border: 1px solid #d5dee4;
        padding: 10px;
        border-radius: 4px;
        background-color: transparent;
      }
      .phone {
        flex-grow: 1;
      }
      .btn {
        background-image: linear-gradient(to right, #3a7aec, #9137ec);
        color: white;
        font-weight: 600;
        cursor: pointer;
        justify-content: center;
      }
      .input:focus {
        outline: none;
      }
      .btn:hover {
        background-color: rgba(0, 0, 255, 0.868);
      }
      .error-message {
        color: red;
        font-size: 12px;
        text-align: center;
      }
      .input::-webkit-outer-spin-button,
      .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}


@keyframes smooth {
  from {
    right: -400px;
    background-color: #11182720;
  }
  to {
    right: 0;
    background-color: #111827bf;
  }
}