$brand-background: #101b2df1;
$editor-background: #101b2d;
$white: #fff;
$dark-green: #0d1c16;
$gray-text: #a8a8a8;
$expo-dark: #151718;
$expo-light-dark-background: #151718;
$expo-blue-background: #10243e;
$expo-blue-text: #4388cf;
$expo-border: #3a3f42;
$navbar-background: #282b30;
$navbar-link-text: #e8e9e9;
