@font-face {
  font-family: codeEditor;
  src: url(fira-code-regular.ttf);
}

@font-face {
  font-family: globalText;
  src: url(global-text.ttf);
}

@font-face {
  font-family: sourceCodePro;
  src: url(source-code-pro.ttf);
}
