@import "./styles/colors.scss";
@import url(./styles/fonts.scss);

body {
  margin: 0;
  font-family: globalText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151718;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scale-transition {
  cursor: pointer;
  transition: 0.5s ease-in;
}

.scale-transition:hover {
  transform: scale(1.1);
}
/* fr-aic */
.fr-aic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.jc-sb{
  justify-content: space-between;
}
.jc-c{
  justify-content: center;
}
.fc {
  display: flex;
  flex-direction: column;
}
/* gap 10px */
.g-10 {
  gap: 10px;
}
.gradient-text{
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  font-family: largeText;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: black;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.649);
  border-radius: 10px;
}
